
<div class="ui main container">
  <div class="ui grid segment">
    <div class="row">
      <div class="column">
        <div class="ui left floated header">
          UE-non3GPP DashBoard
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="ui basic segment">
            <app-network-status-line-chart></app-network-status-line-chart>
          <!--app-line-chart-example></app-line-chart-example-->
        </div>
      </div>
    </div>
  </div>
</div>
